body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(234, 230, 230, 0.8), rgba(226, 222, 222, 0.8)),
    url("../IMAGE/fonclover2.jpg");
}

nav {
  background-color: rgb(191, 238, 162);
  text-align: center;
  padding: 1%;

}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 110%;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.nav-link.active{
  color: rgb(97, 177, 22);
}

.logo {
  width: 1.5%;
  height: 1.5%;
  padding-left: 1%;
  padding-right: 1%;
}
section {
  margin: 40px 15%;
  /*background: rgba(210, 238, 196);*/
  background: rgb(229, 237, 225);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(200, 230, 100, 0.7);
  border: 2px solid rgb(158, 209, 37);
  border-top: none;
  border-bottom: none;
}

.section:hover {
  box-shadow: -18px 0 15px rgba(158, 209, 37, 0.4),
    18px 0 15px rgba(158, 209, 37, 0.4);
}

.section h2 {
  text-align: center;
  margin-bottom: 15px;
}


.nutrition-list {
  font-size: 18px;
  line-height: 1.8;
}

.food-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  padding-top: 2%;
}

.food-card {
  background: rgb(249, 247, 241);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 226, 5, 0.2);
  text-align: center;
  position: relative;
  transition: 0.5s;
}

.food-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 20px 1px rgba(158, 209, 37, 0.914);
}


.food-card-vegetables {
  background-image:
    linear-gradient(rgba(234, 230, 230, 0.8), rgba(226, 222, 222, 0.8)),
    url("../IMAGE/vegetables.jpg");
  background-size: cover;
}

.food-card-fruits {
  background-image:
    linear-gradient(rgba(234, 230, 230, 0.8), rgba(226, 222, 222, 0.8)),
    url("../IMAGE/fruits.jpg");
  background-size: cover;
}

.food-card-nuts {
  background-image:
    linear-gradient(rgba(234, 230, 230, 0.8), rgba(226, 222, 222, 0.8)),
    url("../IMAGE/nuts.jpg");
  background-size: cover;
}

.food-card-fish {
  background-image:
    linear-gradient(rgba(234, 230, 230, 0.8), rgba(226, 222, 222, 0.8)),
    url("../IMAGE/fish.jpg");
  background-size: cover;
}

.recipe-img {
  width: 15%;
  height: 15%;
  float: right;
}

.card-icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

li {
  list-style-type: circle;
}

.decor-line {
  width: 95%;
  height: 2px;
  background: rgb(158, 209, 37);
  margin: 20px auto;
  border-radius: 8px;
}
.footer-content {
  padding: 10px;
  background-color: rgb(195, 237, 168);
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: center;
}