body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(rgba(234, 230, 230, 0.8), rgba(226, 222, 222, 0.8)),
    url("../IMAGE/fonclover2.jpg");
}

nav {
  background-color: rgb(191, 238, 162);
  text-align: center;
  padding: 1%;

}

nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding-left: 1%;
  padding-right: 1%;
  font-size: 110%;
}

.nav-container {
  display: flex;
  justify-content: center;
}

.logo {
  width: 1.5%;
  height: 1.5%;
  padding-left: 1%;
  padding-right: 1%;
}
.section {
  margin: 40px 15%;
  /*background: rgba(210, 238, 196);*/
  background: rgb(229, 237, 225);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(200, 230, 100, 0.7);
  border: 2px solid rgb(158, 209, 37);
  border-top: none;
  border-bottom: none;
}

.section:hover {
  box-shadow: -18px 0 15px rgba(158, 209, 37, 0.4),
    18px 0 15px rgba(158, 209, 37, 0.4);
}

.section h2 {
  text-align: center;
  margin-bottom: 15px;
}
.section-item {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  margin: 40px 15%;
}
.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.table th,
.table td {
  border: 1px solid rgb(158, 209, 37);
  padding: 10px;
}

.table th {
  background: rgba(223, 248, 81, 0.5);
}

li {
  list-style-type: circle;
}

.SleepItem1 {
  grid-row: 1;
  border: 2px solid rgb(158, 209, 37);
  padding: 10px;
  border-left: none;
  border-top: none;
}

.SleepItem2 {
  grid-row: 2;
  border: 2px solid rgb(158, 209, 37);
  padding: 10px;
  border-left: none;
  border-bottom: none;
}

.SleepItem3 {
  grid-column: 2;
  grid-row: 1 / span 2;
  border: 2px solid rgb(158, 209, 37);
  padding: 10px;
  border-right: none;
  border-bottom: none;
  border-top: none;
}

.footer-content {
  padding: 10px;
  background-color: rgb(195, 237, 168);
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: center;
}